/* Font Imports */
@font-face {
    font-family: 'Basier';
    src: url('/fonts/BasierCircle-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sequel';
    src: url('/fonts/Sequel_Demo.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder-BoldLC.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }