/* Container System */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
  }
  
  @media (min-width: 640px) {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    
    html {
      font-size: 17px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
    html {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  
  /* Grid System */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      gap: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }
  }